@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.main-cantainer {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

.game-playar {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.player {
    width: 100px;
    height: 50px;
    background-color: #68D2E8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* font-family: 'Courier New', Courier, monospace; */
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 10px;
}

#xUser {
    background-color: #363062;
}

.player:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.game-container {
    width: 230px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    width: 70px;
    height: 70px;
    background-color: #7077A1;
    border-radius: 10px;
    cursor: pointer;
    transition: all .1s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    outline: none;
    border: none;
}

.box:hover {
    background-color: #424769;
}

.reset-button-container {
    width: 100px;
    height: 40px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.reset-button {
    width: 100%;
    height: 100%;
    background-color: #363062b0;
    border-radius: 5px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgba(255, 255, 255, 0.582);
    letter-spacing: .5px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    outline: none;
    border: 2px solid wheat;
    
}

.reset-button:hover {
    background-color: #363062;
    border-radius: 15px;
}